.modal__save-button {
  border: none;
  height: 50px;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.modal__save-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .8);
}

.modal__save-button:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .modal__save-button {
    height: 40px;
    font-size: 14px;
  }
}
