.card__image {
  width: 100%;
  padding: 0 0 100%;
  border: none;
  background-size: cover;
  background-position: center;
}

.card__image:hover {
  cursor: pointer;
}

.card__image:focus {
  outline: none;
}
